Repository operator-framework/operator-lifecycle-manager, pull requests merged in 2023-07, with the labels that each got.

#2979 Retry initialization error conditions
  pkg/lib/operatorstatus/monitor.go
  pkg/lib/queueinformer/queueinformer_operator.go
  pkg/lib/queueinformer/queueinformer_operator_test.go
Labels: lgtm

#2963 Catalog source affinity
  deploy/chart/crds/0000_50_olm_00-catalogsources.crd.yaml
  go.mod
  go.sum
  pkg/controller/registry/reconciler/reconciler.go
  pkg/controller/registry/reconciler/reconciler_test.go
  vendor/github.com/operator-framework/api/crds/operators.coreos.com_catalogsources.yaml
  vendor/github.com/operator-framework/api/crds/zz_defs.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/catalogsource_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: ok-to-test, approved, lgtm

#2958 Add architecture tolerations to bundleUnpacker job
  pkg/controller/bundle/bundle_unpacker.go
  pkg/controller/bundle/bundle_unpacker_test.go
Labels: ok-to-test, approved, lgtm

#3000 add joelanford to OWNERS
  OWNERS
Labels: approved, lgtm
